header{
    background:#eead2d;
    padding:20px 0 ;
}

.caixa{ 
    position:relative;
    width: 1640px;
   margin:0 auto ; 
}

nav{
    position:absolute;
    top:110px;
    right:0;
}

nav li{
    display:inline; 
    margin:0 0 0 15px; 
}

nav a{
    text-transform:uppercase;
    color:#000000;
    font-weight:bold;
    font-size:22px;
    text-decoration:none;
}
nav a:hover{
  color: #000076;
  text-decoration: underline ;
}


.produtos{
 width: 1640px;
   margin:0 auto ;  
   padding: 50px 0 ;
}

.produtos li{
   display:inline-block; 
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin:0 1.5% ;
   padding: 30px 20px;
   box-sizing: border-box;
   border: 2px #000000 solid ;
   border-radius: 10px;
}

.produtos li:hover{
   border-color: #990076;
}

.produtos li:active{
   border-color: #808c19;
}

.produtos li:hover h2{
    font-size: 50px;
}

.produtos h2 {
    font-size: 40px;
    font-weight: bold;
}

.descrição{
    font-size: 20px;
}

.R4 {
     font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("farelo-t.png");
    padding: 40px;
}

.copyright{
   color:#ffffff;
   font-size: 16px;
   margin: 20px 0 0;
}

main {
 width: 1640px;
   margin:0 auto ; 
}

form{
  margin: 40px 0;
}

form label,form legend{
    display: block;
    font-size: 20px;
    margin:0 0 10px ;
}


.input-padrao{
    display: block;
     margin:0 0 20px ;
     padding: 15px 45px;
     width: 40%;
}

.checkbox{
    margin: 24px 0;
}

.enviar{
    width: 20%;
   padding: 15px 0;
   background: orange;
   color: white;
   font-weight: bold;
   font-size: 18px;
   border: none;
   border-radius: 7px;
   transition: 1s all ;
   cursor: pointer ;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}

.checkbox:active{

}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold ;
}

td,th{
    border: 1px solid #000000;
    padding: 5px 15px;
}